@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./transition.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply bg-primary-light font-primary text-primary-dark dark:bg-primary-dark-400 dark:text-primary-light
    }
}


.shadow-inset {
    @apply shadow-[inset_-12px_-8px_40px_#46464620]
}

.text-link {
    @apply font-medium text-accent-200 transition-all duration-100 hover:text-primary dark:text-accent dark:hover:text-primary-200
}

.btn {
    @apply transition-all duration-300 ease-in
}

.btn-primary {
    @apply bg-primary text-primary-light hover:bg-accent-200
            dark:bg-accent dark:text-primary-dark-400
            dark:hover:bg-primary dark:hover:text-primary-light
}

.btn-outline {
    @apply border border-primary hover:bg-primary/25
            dark:border-accent dark:hover:bg-accent/25
}


/* Swiper Styles */
.swiper-button-prev, 
.swiper-button-next {
    @apply text-primary dark:text-accent
}

.swiper-pagination-bullet {
    @apply bg-primary dark:bg-accent
}


/* Skeleton Colors */
.skeleton {
    @apply bg-primary-light-300 dark:bg-primary-dark-200 
}



/* Icon */

.icon-non-bg {
    @apply text-primary hover:bg-primary hover:text-primary-light
            dark:text-accent dark:hover:bg-accent dark:hover:text-primary-light
}

.icon-bg {
    @apply bg-primary text-primary-light hover:bg-accent-200 
            dark:bg-accent dark:hover:bg-primary-200
}

.icon-primary {
    @apply dark:bg-primary-dark-400  dark:group-hover:bg-primary dark:hover:bg-primary
}

.icon-secondary {
    @apply dark:bg-primary-dark-300 dark:group-hover:bg-accent
}

.icon-default {
    @apply  bg-primary-light-300/50 text-primary hover:bg-primary hover:text-primary-light
    group-hover:bg-primary group-hover:text-primary-light 
    dark:text-primary-light-200 
}

.icon-default-size {
    @apply min-w-[50px] min-h-[50px]
}
